*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  background-color: #f6f6f6;
}

section {
  box-shadow: 1px 6px 17px -1px rgb(34 60 80/19%);
  padding-top: 20px;
  width: 40vw;
  background-color: #fff;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 10px 15px;
  align-items: center;
}

form input {
  width: 100%;
  border: none;
  outline: none;
  padding-left: 20px;
  font-size: 18px;
  font-style: italic;
  padding-bottom: 15px;
  padding-top: 15px;
}

button {
  width: 100%;
  border: none;
  background-color: #f6f6f6;
  padding: 25px 0;
  font-size: 18px;
  color: #d0d0d0;
}

button:hover {
  cursor: pointer;
}

.fa-refresh {
  font-size: 20px;
}

.toDoContainer {
  border-top: 1px solid #d0d0d0;
  border-bottom: 1px solid #d0d0d0;
  display: flex;
  padding: 30px 10px;
}

.toDoContainer span {
  font-size: 18px;
  color: #000;
  width: 90%;
}

.checkbox {
  width: 10%;
}

.toDoContainer i {
  color: #000;
  width: 10%;
}

.checkedContainer {
  background-color: #fffed3;
}

.fa-trash {
  display: none;
  color: #000;
}

.trashActive {
  display: block;
  color: #000;
}

.editDisable {
  display: none;
}

.checkToDo {
  text-decoration: line-through;
}
